<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Boolzapp</title>
</head>
<body>
  
<main>

  <div  id="app">

    <div class="mainContainer">
      
      <!-- Contacts container -->
      <div class="contactsContainer">

        <!-- user avatar -->
          <div class="mineCard card">
            <div class="nameImgContainer">
              <img src="assets/img/avatar_io.jpg" alt="Your photo">
              <span>Sofia</span>
            </div>
            <div class="buttons">
              <i class="fa-sharp fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          
          <div class="alertNotification">
            <div class="bellFont">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="alertNotificationText">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a class="subText" href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <div class="searchBar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
            <!-- Recent chats -->
          <div class="recentChats">
            <ul>
              <li
                class="contact"
                v-for="(contact, index) in contacts"
                @click=" counter= index, displaySelectedChat()">  

                <img :src="contact.avatar" alt="">

                <div class="contactInfo">

                  <h4>{{contact.name}}</h4>
                  <p class="subText"> Ultimo messaggio </p>

                  <div class="subText lastMsgHour">
                    12:00
                  </div>

                </div>
              </li>
            </ul>
          </div>
      </div>
<!-- current chat -->
      <div class="chatContainer ">

        <div class="currentContact ">
            <div class="currentContactInfo">
              <img :src="contacts[counter].avatar" alt="user image">
              
              <div  class="currentContactName">
                <span>{{contacts[counter].name}}</span>
                <p class="subText">Ultimo accesso oggi alle 12:00</p>
              </div>

            </div>

            <div class="buttons">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>

        <div v-for="(contact, index) in contacts"
            :class="{displayNone : index !== counter}" class="chat">
          <ul>
            <li
              v-for="text in contact.messages"
              :class="text.status">
              {{text.message}}
              <div class="lastMsgHour">
                {{text.date}}
              </div>
            </li>
          </ul>
        </div>

        <div class="typingBar ">

        </div>
      </div>


    </div>
    
  </div>
</main>




  <script type="module" src="assets/scripts/scripts.js"></script>


</body>
</html>